* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &__container {
        margin: 0 auto;

        &__line {
            display: flex;
            width: 100%;
            height: 10px;

            &__yellow {
                background-color: #EEFF13;
                width: 42%;
            }

            &__green {
                background-color: #B3E512;
                width: 35%
            }

            &__sky {
                background-color: #0EDEE8;
                width: 13%;
            }

            &__blue {
                background-color: #009EB7;
                width: 10%;
            }
        }

        &__menu {
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 70px;

            &__logo {
                display: inline-block;
                width: 260px;
                padding: 3% 0 2% 4%;
            }

            &__link {
                display: flex;
                margin: 0 0 0 auto;

                &__item {
                    text-decoration: none;
                    margin: 0.5em 1.5em;
                    color: #FFF;
                }
            }

            &__open {
                span {
                    display: none;
                }
            }
        }

        &__modal {

            &__overlay {
                display: none;
            }

            &__link {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {

        &__container {

            &__line {
                height: 7px;
            }

            &__menu {

                &__logo {
                    width: 40%;
                    padding: 4% 0 3% 8%
                }

                &__link {
                    font-size: 14px;

                    &__item {
                        margin: 0.3em 0.8em;
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .header {

        &__container {

            &__menu {

                &__logo {
                    width: 200px;
                    padding: 3% 0 2% 6%;
                }

                &__link {

                    &__item {
                        margin: 0.5em 0.8em;
                    }
                }
            }
        }
    }
}

@media (max-width: 599px) {
    .header {

        &__container {
            margin: 0 auto;

            &__line {
                height: 6px;

                &__yellow {
                    width: 37%;
                }

                &__green {
                    width: 30%;
                }

                &__sky {
                    width: 18%;
                }

                &__blue {
                    width: 15%;
                }
            }

            &__menu {

                &__logo {
                    width: 180px;
                    padding: 5% 0 4% 6%;
                }

                &__link {

                    &__item {
                        display: none;
                    }

                }

                &__open {
                    position: relative;
                    left: 20%;
                    width: 65px;
                    height: 65px;
                    margin: 1em 0 0.4em auto;
                    cursor: pointer;

                    span {
                        display: inline-block;
                        transition: all .6s;
                        position: absolute;
                        left: 22%;
                        height: 4%;
                        border-radius: 2px;
                        background: #fff;
                        width: 46px;
                        padding: 1%;

                        &:nth-of-type(1) {
                            top: 14px;
                        }

                        &:nth-of-type(2) {
                            top: 24px;
                        }

                        &:nth-of-type(3) {
                            top: 34px;
                        }
                    }

                    &__active {
                        span {
                            &:nth-of-type(1) {
                                top: 18px;
                                left: 18px;
                                transform: translateY(6px) rotate(-135deg);
                                width: 46px;
                            }

                            &:nth-of-type(2) {
                                opacity: 0;
                            }

                            &:nth-of-type(3) {
                                top: 30px;
                                left: 18px;
                                transform: translateY(-6px) rotate(135deg);
                                width: 46px;
                            }
                        }
                    }
                }
            }

            &__modal {

                &__overlay {
                    position: fixed;
                    width: 100%;
                    height: 120%;
                    background-color: rgba(0, 0, 0, 0.7);
                }

                &__link {
                    width: 0;
                    height: 0;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    right: 0;
                    background-color: #FFF;
                    margin: 0 0 0 auto;
                    padding-top: 20%;
                    transition: .6s;

                    &__slide {
                        width: 40%;
                        height: 90vh;
                        visibility: visible;
                        opacity: 1;
                    }

                    &__item {
                        text-decoration: none;
                        margin: 1em auto;
                        color: #000;
                    }
                }
            }
        }
    }
}
